{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Samina | Login & Registration</title>
    <!-- BOXICON -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- STYLE CSSLINK -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="form-container">
    <div class="col col-1">
        <div class="image-layer">
            <img src="{% static 'img/white-outline.png' %}" class="form-image-main">
            <img src="{% static 'img/dots.png' %}" class="form-image dots">
            <img src="{% static 'img/coin.png' %}" class="form-image coin">
            <img src="{% static 'img/spring.png' %}" class="form-image spring">
            <img src="{% static 'img/rocket.png' %}" class="form-image rocket">
            <img src="{% static 'img/cloud.png' %}" class="form-image cloud">
            <img src="{% static 'img/stars.png' %}" class="form-image stars">
        </div>
        <p class="featured-words">You Are Minutes Way To Boost your Skill with <span>Samina</span></p>
    </div>
    <div class="col col-2">
        <div class="btn-box">
            <button class="btn btn-1" id="login">Sign In</button>
            <button class="btn btn-2" id="register">Sign Up</button>
        </div>

        <!-- Login Form Container -->
        <form method="post" id="loginForm" action="{% url 'login_or_signup' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="login">
            <div class="login-form">
                <div class="form-title">
                    <span>Sign In</span>
                </div>
                <div class="form-inputs">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Username" name='username' required>
                        <i class="bx bx-user icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" name='password' required>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>
                    <div class="forgot-pass">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div class="input-box">
                        <button class="input-submit" type="submit">
                            <span>Sign In</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                    <div class="social-login">
                        <i class="bx bxl-google"></i>
                        <i class="bx bxl-facebook"></i>
                        <i class="bx bxl-linkedin"></i>
                        <i class="bx bxl-github"></i>
                    </div>
                </div>
            </div>
        </form>

        <!-- Registration Form Container -->
        <form method="post" id="registerForm" action="{% url 'login_or_signup' %}" style="display: none>
            {% csrf_token %}
            <input type="hidden" name="action" value="signup">
            <div class="register-form">
                <div class="form-title">
                    <span>Create Account</span>
                </div>
                <div class="form-inputs">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Username" name="username" required>
                        <i class="bx bx-user icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Email" name="email" required>
                        <i class="bx bx-envelope icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" name="pass1" required>
                        <i class="bx bx-lock-alt icon"></i>
                    </div>
                    <div class="forgot-pass">
                        <a href="#" id="alreadyHaveAccountLink">Already have an account?</a>
                    </div>
                    <div class="input-box">
                        <button class="input-submit" type="submit">
                            <span>Sign Up</span>
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                    <div class="social-login">
                        <i class="bx bxl-google"></i>
                        <i class="bx bxl-facebook"></i>
                        <i class="bx bxl-linkedin"></i>
                        <i class="bx bxl-github"></i>
                    </div>
                </div>
            </div>
        </form>
        
     </div>
 </div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
