{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini LLM Application</title>
    {% if error_message %}
    <script>
    alert('{{ error_message }}');
    </script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
</head>
<body>
    <h1>Gemini LLM Application</h1>
    <form method="post" id=form-id>
        {% csrf_token %}
        <label for="input">Input:</label>
        <input type="text" id="input" name="input">
        <button type="submit">Ask the question</button>
    </form>
    <h2>The Response is:</h2>
    {% for role, text in res_history %}
        <p>{{ role }}: {{ text }}</p>
    {% endfor %}
    <h2>The Chat History is:</h2>
    {% for role, text in chat_history %}
        <p>{{ role }}: {{ text }}</p>
    {% endfor %}
</body>
</html>
